# Copyright 2026 Rik Essenius
# Licensed under the Apache License, Version 2.0. See the LICENSE file for details.
# File: .env.example

# Run-time settings

# Base URL for InfluxDB API
INFLUX_URL=https:/localhost:8086

# for InfluxDB 2: 
INFLUX_ORG=finance
INFLUX_WRITE_TOKEN=MyWriteToken

# for InfluxDB 1:
# InfluxDB database name
INFLUX_DB=finance
# InfluxDB credentials
INFLUX_USER=finance_writer
INFLUX_PASSWORD=MySecretPassword

# SSL verification mode
#  true = strict, 
#  false = none (not recommended for production), 
#  legacy = legacy (e.g. for self-signed certs)
#  pinned = pin the cert to the one specified in INFLUX_SSL_CERT
INFLUX_SSL_VERIFY=true
# Mandatory pinned cert for pinned, optional ca bundle for true/legacy.
# INFLUX_SSL_CERT=/home/pi/certs/ca.crt

FRED_API_KEY=MyFredApiKey
# Can also use other API keys if needed.
# format: PROVIDER_API_KEY=keyvalue, with PROVIDER the capitalized name of the section in config.ini
# Supported providers: yahoo, ecb, fred
