# Copyright 2026 Rik Essenius
# Licensed under the Apache License, Version 2.0. See the LICENSE file for details.
# File: .env.example

# Base URL for InfluxDB API
INFLUX_URL=https://influx:8086
# InfluxDB database name
INFLUX_DB=finance
# InfluxDB credentials
INFLUX_USER=finance_writer
INFLUX_PASSWORD=MySecretPassword
# SSL verification mode
#  true = strict, 
#  false = none (not recommended for production), 
#  legacy = legacy (e.g. for self-signed certs)
#  pinned = pin the cert to the one specified in INFLUX_CERT
INFLUX_VERIFY=true
# pinned cert, or CA bundle. Mandatory only for pinned.
# INFLUX_CERT=/home/pi/certs/ca.crt
FRED_API_KEY=xxxx
# Can also use other API keys if needed.
# format: PROVIDER_API_KEY=keyvalue, with PROVIDER the capitalized name of the section in config.ini
# Supported providers: yahoo, ecb, fred, treasury

# Production environment settings
PROD_ROOT=/home/pi/python/finance   # Root directory of the project
PROD_VENV=$PROD_ROOT/venv           # Virtual environment directory
PROD_USER=pi                        # User to run the production script, typically 'pi' on Raspberry Pi
