# Copyright 2026 Rik Essenius
# Licensed under the Apache License, Version 2.0. See the LICENSE file for details.
# File: .env.example

## Mandatory settings

# Credentials for TimescaleDB

TIMESCALEDB_USER=testuser
TIMESCALEDB_PASSWORD=MySecretPassword

# API keys for providers requiring them
FRED_API_KEY=MyFredApiKey

# Can also use other API keys if needed.
# format: PROVIDER_API_KEY=keyvalue, with PROVIDER the capitalized name of the section in the config yaml file

## Optional settings

# override the default 'config.yaml'
CONFIG_PATH=config.yaml

# log level can be error, warning, info, debug
LOG_LEVEL=info

# settings for TimescaleDB
TIMESCALEDB_HOST=localhost
TIMESCALEDB_PORT=5432
TIMESCALEDB_SSL_MODE=verify-full
TIMESCALEDB_SSL_ROOT_CERT=/opt/certs/ca-all.crt

# SSL modes
#  - disable: no encryption.
#  - allow: prefer SSL, but silently fall back to unencrypted.
#  - require: encrypts the connection but does not validate the certificate
#  - verify-ca: encrypts and verifies the certificate is certified by a valid CA
#  - verify-full: like verify-ca but then also verifies the host name
#
# Only the last two are suitable for production.
