# Copyright 2026 Rik Essenius
# Licensed under the Apache License, Version 2.0. See the LICENSE file for details.
# File: systemd/finance-fetch.timer

[Unit]
Description=Run Finance Data Fetcher periodically

[Timer]
# every two hours Monday to Friday
OnCalendar=Mon..Fri *-*-* 00/2:00:00
# once at noon on weekend days
OnCalendar=Sat,Sun *-*-* 12:00:00
# be friendly to the providers by randomizing a bit
RandomizedDelaySec=15min
Unit=finance-fetch.service

[Install]
WantedBy=timers.target
