# Copyright 2026 Rik Essenius
# Licensed under the Apache License, Version 2.0. See the LICENSE file for details.
# File: systemd/finance-fetch.timer

[Unit]
Description=Run Finance Data Fetcher periodically

[Timer]
OnBootSec=2min
OnUnitActiveSec=10min
Unit=finance-fetch.service

[Install]
WantedBy=timers.target
